/* 骨格 */

#header {
  width: 100%;
  height: 80px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: #fff;
  position: relative;
  margin: 0%;
}

.container {
  display: flex;
  width: 100%;
  /* height: 1000px; */
}

.localNavigation {
  width: 10%;
  height: 80%;
  background-color: black;
  color: #fff;
}

.inner {
  width: 100%;
  display: flex;
  border: solid black 4px;
  margin-top: 10px;
  margin-bottom: 60px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  /* height: auto; */
  background-color: white(112, 207, 255);

  margin-right: 10px;
  margin-bottom: 0px;
}

.content2 {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  /* height: auto; */
  background-color: gold;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}

.footerGrovalNavigation {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0);
  margin-top: auto;
  color: #fff;
  position: fixed;
}

body {
  width: 100%;
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
}
/* ガチャレイアウト */
#gacha {
  display: flex;
  flex-wrap: wrap;
  width: 31%;
  height: 400px;
  margin: 1%;
  /* background-color: rgb(76, 195, 227); */
  border-radius: 10px;
}

.pricedata {
  margin: 0 auto;
}

.imgWindow {
  width: 90%;
  /* margin: 5%; */
  margin: 0 auto;
  margin-top: 5px;
  height: 70%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 0px;
  border-radius: 10px;
  position: relative;
}

.ballImg {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position: absolute;
  left: 25%;
  /* top: 0px;200px */
}

.low {
  background-color: red;
}

.mid {
  background-color: green;
}

.high {
  background-color: blue;
}

#img {
}

#money {
  margin: 0 auto;
  width: 50%;
  height: 30px;
  background-color: white(0, 0, 0);
  color: black;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
}

#button {
  margin-right: auto;
  margin-left: auto;
  /* margin-bottom: auto; */

  font-size: 100%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: auto auto;
  margin-top: 0px;
  display: block;
}
#moneyButton {
  margin-top: 10px;
  display: flex;
  width: 100%;
  background-color: rgb(164, 170, 176);
  padding: 10px;
  border-radius: 5px;
}

.gachaBtnArea {
  width: 100%;
  border-radius: 10px;
  /* margin: auto auto; */
}

/* ステータスレイアウト階層１ */
#up {
  display: flex;
  width: 95%;
  height: 50%;
  /* background-color: rgb(13, 255, 0); */
  margin: 0 auto;
  margin-top: 5px;
}
#down {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 50%;
  /* background-color: rgb(13, 255, 0); */
  margin: 0 auto;
  margin-bottom: 5px;
}

/* ステータスレイアウト階層2 up*/
#picNo {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 98%;
  background-color: rgb(255, 255, 255);
  margin: 1%;
}
#NameHP {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  height: 98%;
  background-color: rgb(255, 255, 255);
  margin: 1%;
}
/* ステータスレイアウト階層3 up*/
#pic {
  display: flex;
  width: 100%;
  height: 70%;
  background-color: rgb(177, 177, 177);
  margin: 1%;
}
#no {
  display: flex;
  width: 100%;
  height: 26%;
  background-color: rgb(177, 177, 177);
  margin: 1%;
}
#Name {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 38%;
  background-color: rgb(177, 177, 177);
  margin: 1%;
}
#HP {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 28%;
  background-color: rgb(177, 177, 177);
  margin: 1%;
}
#status {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 28%;
  background-color: rgb(177, 177, 177);
  margin: 1%;
}

/* ステータスレイアウト階層2 down*/
#spec {
  display: flex;
  flex-wrap: wrap;
  width: 48%;
  height: 98%;
  background-color: rgb(255, 255, 255);
  margin: 1%;
}
#characterOtherwise {
  display: flex;
  flex-wrap: wrap;
  width: 48%;
  height: 98%;
  background-color: rgb(255, 255, 255);
  margin: 1%;
}
/* ステータスレイアウト階層3 down*/
#character {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  height: 48%;
  background-color: rgb(120, 120, 120);
  margin: 1%;
}
#otherwise {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  height: 48%;
  background-color: rgb(126, 126, 126);
  margin: 1%;
}

.specDetail {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  height: 23%;
  background-color: rgb(120, 120, 120);
  margin: 1%;
}
